{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        Welcome to my blog! My name is Masoud Mahmoodi, and I am thrilled to have you join me on this journey. As a student at Kabul University, I am passionate about expanding my knowledge in the world of technology and programming.

Throughout my academic journey, I have gained expertise in various programming languages, including Django, Flask, Python, Java, C++, PHP, as well as frontend technologies such as HTML, CSS, and JavaScript. I have also worked with Bootstrap and have experience with SQL for database management.

Through this blog, I aim to share my insights, experiences, and tips related to these technologies. Whether you are a fellow student, programmer, or simply someone interested in the world of technology, this blog is designed to provide valuable resources and engaging content to help you navigate the ever-evolving field of programming.

In addition to sharing technical knowledge, I will also discuss my personal experiences as a student at Kabul University. I believe that storytelling and sharing our journeys can inspire others and foster a sense of community.

I invite you to explore the articles, tutorials, and discussions on this blog. Feel free to leave comments, ask questions, and provide feedback. Your engagement is what makes this community thrive.

Thank you for visiting my blog, and I hope you find the content engaging, informative, and inspiring. Together, let's embark on this exciting learning adventure!
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}